<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioComumServlet</servlet-name>
        <servlet-class>br.edu.iff.site_da_politica.UsuarioComumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioPoliticoServlet</servlet-name>
        <servlet-class>br.edu.iff.site_da_politica.UsuarioPoliticoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioAdmServlet</servlet-name>
        <servlet-class>br.edu.iff.site_da_politica.UsuarioAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>pacotin.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServletSA</servlet-name>
        <servlet-class>br.edu.iff.site_da_politica.util.UsuarioServletSA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicacaoServlet</servlet-name>
        <servlet-class>br.edu.iff.site_da_politica.PublicacaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublicacaoServlet</servlet-name>
        <url-pattern>/PublicacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioComumServlet</servlet-name>
        <url-pattern>/UsuarioComumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioPoliticoServlet</servlet-name>
        <url-pattern>/UsuarioPoliticoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioAdmServlet</servlet-name>
        <url-pattern>/UsuarioAdmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServletSA</servlet-name>
        <url-pattern>/UsuarioServletSA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
