#head{
	background: yellow;
	border-radius: 5px;
	padding: 10px;
	padding-left: 94%;
}

#button_entrar{
	background: red;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	text-shadow: none;
	box-shadow: none;
	border: none;
}

#a{
	padding-left: 50%;
}
